
.card {
    transition: transform 0.2s ease-in-out;
}

/* .card:hover {   
    transform: scale(1.02);
} */

.card-body {
    padding: 20px;
}

.card-title, .card-subtitle, .card-text {
    margin-bottom: 15px;
}

.text-decoration-none {
    text-decoration: none;
    color: inherit;
}
