body {
    background: linear-gradient(180deg, #171717 0%, #3A1010 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

.card {
    background-color: #3d3d3d;
    border: none;
}

.order-card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
}

.order_ingredients {
    width: 100%;
    height: 600px;
}

.order_h {
    font-family: "Jaini Purva", system-ui;
    font-weight: 400;
    font-style: normal;
    white-space: nowrap; /* Verhindert, dass das Label mehrzeilig wird */
    overflow: hidden;
    text-overflow: ellipsis; 
}

.order_image_div {
    height: 300px; 
    width: 100%; 
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
}

/* .order_ingredient {
    height: 100%;
    width: 100px;
    border: solid 1px black;
    float: left;
} */

.order_ingredient {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 3px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    float: left;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    min-height: 25px;
}

.order_ingredient_name {
    font-family: "Teko", sans-serif;
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
    padding-left: 8px;
    margin-top: 3.5px;
    line-height: 30px;
    white-space: wrap;       
    overflow: hidden;        
    text-overflow: ellipsis; 
    flex-grow: 1;            
    margin-right: 10px;      
}

.order_ingredient_amount {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;
    padding-right: 8px;
    margin-top: 3.5px;
    flex-shrink: 0;            /* Minimale Breite bleibt erhalten */
}


.card-title {
    font-family: "Jaini Purva";
    font-size: 48px;
    font-weight: 400;
    line-height: 63.07px;
    text-align: center;

}

.btn-produce {
    background-color: #800000;
    color: white;
}
table {
    color: white;
}
th {
    background-color: #800000;
    color: white;
}
tr {
    background-color: #3d3d3d;
}
td {
    color: white;
}
.vertical-button {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1000;
    width: 60px; /* Adjusted width */
    height: 100%; /* Full height */
}

.vertical-button.left {
    left: 0;
}

.vertical-button.right {
    right: 0;
}

.vertical-button button {
    width: 100%; /* Full width of the button container */
    height: 100%; /* Adjust height for visibility */
    background: linear-gradient(180deg, #171717 0%, #3A1010 100%);
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    display: block;
    padding: 0;
}

.vertical-button button:hover {
    border:#3d3d3d;

}

.orderElement {
    width: 30%;
    height: 400px;
    background-color: rgba(126, 48, 48, 0.3);
    border-radius: 15px;
    opacity: 100%;
    float: left;
    margin: 1.666%;

}

.imageBlock {
    margin: 5%;
    width: 90%;
    height: 280px;
    text-align: center;
}

.cooktailImg {
    margin: 0%;
    max-height: 100%;
}

.infoBlock {
    margin: 5%;
    width: 90%;
    text-align: center;
    font-family: "Jaini Purva", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: calc(1vw + 1.2em); /* Passt die Größe an die Bildschirmbreite an */
    white-space: nowrap; /* Verhindert, dass das Label mehrzeilig wird */
    overflow: hidden;
    text-overflow: ellipsis; 
}
  
/* Responsive adjustments */
@media (max-width: 600px) {
    .vertical-button {
        width: 50px; /* Smaller width on small screens */
    }
}
.list-group-item {
    background-color: #3d3d3d;
    border: 1px solid #800000;
    color: white;
}

.list-group-item .badge {
    background-color: #800000;
    color: white;
}